
.similar-stories{
    width: 1140px;
    margin: 0 auto;
    font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 48px;
line-height: 72px;
/* identical to box height */


color: #000000;
}

.similar-container{
    background: none;
    position: relative;
    top: 0;
    z-index: 1;

}

.similar-cards{
    margin-top: 33px;
    width: 1120px;
    display: flex;
    justify-content: space-between;
}
.fc {
    border-radius: 18px;
    box-shadow: 0px 14.5397px 29.0794px #E5E5E5;
    height: 40.5555vw;
    /* min-height: 584px; */
    /* height is (584/1440p)vw  */
    /* cursor: pointer; */
    /* overflow: hidden; */
    transition: 0.4s all ease-in-out;
    position: relative;
    cursor: pointer;
}

.fc1:hover,
.fc2:hover,
.fc3:hover {
    transform: translateY(-20px);
}

.fc1 , .fc4{
    width: 27.399vw;
    width: 396px;
    /* min-height: 583px; */
    height: 40.4861vw;
    height: 494px;
    background: url(../../work/images/fmcg-new.svg);
    background-size: cover;
    box-shadow: 2px 2px 18px #C7C4DE;
}

.fc2 , .fc3{
    width: 46.41944vw;
    width: 603px;
    /* min-height: 583px; */
    height: 40.4861vw;
    height: 494px;
    background: url(../../work/images/ecommerce.svg);
    background-size: cover;
    box-shadow: 2px 2px 18px #C7C4DE;
}