#nav-btn{
    margin: -15px 0 0 0;
}
.tooltip{
    position: relative;
    font-family: 'Poppins', sans-serif;
    width: 75px;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    color: #006A4E;
    margin: 20px 23px 23px 23px;
}
.tooltiptext {
    visibility: hidden;
    width: 150px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    margin-left: 5px;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: -5px;
    /* left: 105%; */
    left: 0;
}

.fc{
    position: relative;
    border-radius: 18px;
    box-shadow: 0px 14.5397px 29.0794px #E5E5E5;
    border-radius: 14.4788px;
}
.fc1, .fc4, .fc5, .fc8, .fc10, .fc12{
    /* min-width: 394.55px; */
    width: 27.399vw;
    width: 396px;
    /* min-height: 583px; */
    height: 40.4861vw;
    height: 494px;
    background: url(./images/fmcg-new.svg);
    background-size: cover;
    /* box-shadow: 2px 2px 18px #C7C4DE; */
}

.fc2, .fc3, .fc6, .fc7, .fc9, .fc11{
    /* min-width: 668.44px; */
    width: 46.41944vw;
    width: 603px;
    /* min-height: 583px; */
    height: 40.4861vw;
    height: 494px;
    background: url(./images/ecommerce.svg);
    background-size: cover;
    
}

.fc3{
    background: url(./images/f2p.svg);
    background-size: cover;
}

.fc4{
    background: url(./images/personalized-food.svg);
    background-size: cover;
}

.fc5{
    background: url(./images/ai-banking.svg);
    background-size: cover;
}

.fc6{
    background: url(./images/sustainability.svg);
    background-size: cover;
}

.fc7{
    background: url(./images/driving.svg);
    background-size: cover;
}

.fc8, .fc10{
    background: url(./images/trustworthy.svg);
    background-size: cover;
}

.fc9{
    background: url(./images/one-stop.svg);
    background-size: cover;
}

.fc11, .fc12{
    display: none;
}
/* .fc10{
    background: url(./images/fulton-branding.png);
    background-size: cover;
}
.fc11{
    background: url(./images/dn.png);
    background-size: cover;
}
.fc12{
    background: url(./images/f2p-branding.png);
    background-size: cover;
} */

.fc{
    border-radius: 15px;
}

.work-card-text{
    display: none;
    position: absolute;
    bottom: 0;
    height: 150px;
    width: inherit;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.9) 0%, rgba(249, 249, 249, 0.9) 100%);
    backdrop-filter: blur(33.2005px);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 0 0 15px 15px;
}
.work-card-head{
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    margin: 0 23px;
    padding: 23px 0 0 0;
}
.work-card-text > a{
    width: 75px;
}
.view-story{
    font-family: 'Poppins', sans-serif;
    width: 75px;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    color: #006A4E;
    margin: 20px 23px 23px 23px;
}

.work-card-text{
    position: absolute;
    bottom: 0;
    height: 150px;
    width: inherit;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.9) 0%, rgba(249, 249, 249, 0.9) 100%);
    backdrop-filter: blur(33.2005px);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 0 0 15px 15px;
}
.work-card-head{
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    margin: 0 23px;
    padding: 23px 0 0 0;
}
.work-card-text > a{
    width: 75px;
}
.view-story{
    font-family: 'Poppins', sans-serif;
    width: 75px;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    color: #006A4E;
    margin: 20px 23px 23px 23px;
}
.footer-true{
    position: absolute;
    width: 100vw;
    background: url('../assets/images/footer.svg');
    background-size: cover;
    /* min-height: 1000px; */
    height: calc(1000px + 100vw - 1140px);
    margin-top: calc(-600px - 0.55 * (100vw - 1440px) ); 
}
.address{
    width: 400px;
}

.header{
    margin: 25px auto 0 auto;
}

.topnav{
    width: 50vw;
    display: flex;
    justify-content: space-between ;
}
.topnav-mobile{
    display: none;
}
.topnav-menu{
    display: none;
    transition: 0.4ms ease-in;
}
.topnav-menu-active{
    background: #006A4E;
    width: 100vw;
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-around;
    align-items: center;
    transition: 0.4s ease-in;
    position: relative;
    z-index: 999;
}

  @media screen and (max-width: 1000px) {
    .header-container{
        position: fixed;
        top: 0;
        margin: 0 auto 0 auto;
        padding-bottom: 15px;
        width: 100vw;
        height: 60px;
        background: white;
        z-index: 3;
    }
    .content-wrapper{
        background: white;
    }
    .logo{
        width: 132.56px;
    }
    .header{
        align-items: unset;
        width: 88.88vw;
    }
    .header-container{
        margin-top: -5px !important;
        height: 60px !important;
    }
    
  }
  
  @media screen and (max-width: 1000px) {
    .topnav{
        display: none;
    }
    .topnav-mobile{
        display: block;
    }
    .topnav-menu-links{
        margin-top: -20px;
        height: 293px;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: space-between;
        align-items: center;
    }
    
    .topnav-menu-links a{
        font-size: 18px;
        font-weight: 600;
        color: white;
    }
     
    #nav-btn{
        font-size: 18px;
        font-weight: 600;
        width: 200px;
    }
    .active{
        border-bottom: 2px solid #E08433;
    }
    .icon{
        margin-top: 5px;
        border: none;
        background: transparent;
    }

    .content-wrapper{
        width: 100vw;
    }
    .content-w, .hero-container{
        width: 90vw;
    }
    .services, .services-content{
        width: 90vw;
        margin: 50px 0 0 0;
    }

    .services-content .services-head{
        margin-left: 0;
        font-size: 16px !important;
    }

    /* .services-btn{
        height: 25px;
        margin: 3px;
        border-radius: 8px;
        font-size: 8px;
    } */
    .services-btn{
        width: fit-content;
        height: 36px;
        font-size: 12px;
        margin: 0 5px 10px 0;
        border-radius: 8px;
        background: rgba(214, 214, 214, 0.24);
        border: 1px solid #000000;
    }
    .services-btn-active{
        background: #006A4E;
    }
}
@media screen and (max-width: 1000px) {
    body{
        overflow-x: hidden ;
    }
    html{
        overflow-x: hidden;
    }
    .fc{
        border-radius: 7px;
    }
    .work-card-text{
        height: 40px !important;
        border-radius: 0 0 7px 7px;
    }
    .work-card-head{
        padding: 0;
        margin: 5px 0 0 10px;
        font-size: 8px;
        line-height: 10px;
    }
    .tooltip{
        font-size: 10px !important;
        margin: 0 auto !important;
        height: 20px !important;
        width: inherit !important;
        /* height: inherit; */
    }
    .tooltiptext{
        font-size: 7px !important;
        /* height: 50px; */
        width: 100%;
        border-radius: 0;
        background-color: black;
        /* width: 70px !important; */
        /* width: inherit;
        height: inherit; */
        /* height: 20px !important; */
        padding: 0;
        margin: 0 auto;
        /* position: absolute;
        z-index: 1;
        top: -35px !important;
        left: -5px !important; */
        /* bottom: -10px !important; */
        /* bottom: 100px; */
        /* left: 0%; */
    }
    .featured, .featured-cards{
        width: 90vw;
    }
    .featured-cards-2{
        height: 100vw;
    }
    .fc1, .fc2, .fc3, .fc4, .fc5, .fc6, .fc7, .fc8, .fc9, .fc10, .fc11, .fc12 {
        min-width: 0;
        min-height: 0;
    }
    .sub-footer{
        width: 100vw;
        margin: 0 0 0 0;
        overflow: hidden;
    }
    .sub-footer-content{
        text-align: left;
        font-family: 'Poppins', sans-serif;
        letter-spacing: 0px;
        color: #000000;
        /* min-width: 1140px; */
        width: 90vw;
        margin: 0 auto;
    }
    .sub-footer-content>h1{
        line-height: 36px;
        font-size: 24px;
        font-weight: 600;
        margin-left: 14px;
    }
    
    .sub-footer-content span{
        color: #006A4E;
    }
    
    .sub-footer-btn{
        width: 80px;
        height: 25px;
        background: #E08433;
        border: none;
        color: #FFFFFF;
        border-radius: 5px;
        font-size: 9px;
        font-family: 'Poppins', sans-serif;
        box-shadow: inset 0 0 0 0 #006A4E;
        transition: ease-out 0.3s;
        z-index: 1;
        position: relative;
        cursor: pointer;
        margin-left: 14px;
    }
    
    .sub-footer-btn:hover{
        box-shadow: inset 80px 0 0 0 #006A4E;
        font-weight: 800;
    }
    
    .footer-true{
        width: 100vw;
        background: url('../about/assets/images/footer-only.png');
        background-size: cover;
        height: 178px !important;
        min-height: 0 !important;
        margin: 107px 0 0 0 !important;
        padding: 0 !important;
        /* min-height: 1000px; */
        /* height: 200px; */
        /* margin-top: calc(-400px - 0.55 * (100vw - 1440px) ); */
    }
    .company-foot{
        margin: 30px auto !important;
        width: 100vw;
        height: fit-content;
        padding: 0;
        background-size: cover;
    }
    .company-details{
        width: 90vw;
        margin: 0 auto 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
    }
    .address{
        margin: 65px 0 0 0;
        /* width: 367px; */
        width: 189px;
        height: 57px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .ad-logo{
        /* width: 132px; */
        width: 67px;
        /* height:99px; */
        height: 50px;
    }
    
    .footer-vl
    {
        height: 50px !important;
    }
    .address p{
        font-family: 'Poppins', sans-serif;
        font-size: 8px;
        line-height: 14px;
        color: #FFFFFF;
        margin: 0;
        padding: 0;

    }
    
    .address span{
        font-size: 9px;
        color:#FFFFFF;
    }
    
    .contact{
        display: flex;
        flex-direction: column;
    }
    .contact-links{
        width: 99px;
        font-family: 'Poppins', sans-serif;
        font-size: 8px;
        letter-spacing: 0.8px;
        display: flex;
        justify-content: space-between;
        margin-bottom: 15px;
        text-decoration: underline;
        color: #FFFFFF;
    }
    .contact-links a{
        color: white;
    }
    .contact-links a:visited{
        color: white;
    }
    .contact-links a:hover{
        color: #E14B2C;
    }
    .social-links{
        width: 90px;
        display: flex;
        justify-content: space-between;
    }
    .social-links a{
        width: 15px;
    }
    .social-links img{
        margin: 0;
        width: 15px;
        height: 15px !important;
    }
}
.fc{
    transition:0.4s all ease-in-out;
    cursor: pointer;
    position: relative;
}
.fc:hover{
  transform: translateY(-20px);
}
.fc:hover .tooltiptext {
    visibility: visible;
}
.view-story:hover{
    font-weight: 600;
}