body{
    position: relative;
    height: fit-content;
    /* min-width: 1440px; */
    width: 100vw;
    /* margin: 0 auto; */
    padding: 0;
    margin: 0 auto;
}
:root{
    /* --width: 79.17vw; */
    --width: 1140px;
}
.navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 50%;
}
.nav-link{
    padding-top: 10px;
    height: 35px;
    text-align: left;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0px;
    color: #000000;
    line-height: 21px;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
}

.nav-link:not(.active):hover{
    color: #006A4E;
    font-weight: 400;
}

.active{
    color:#E08433;
    font-weight: 600;
    border-bottom: 2px solid#E08433;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; 
}

#nav-btn{
    width: 160px;
    height: 50px;
    border: none;
    background: #E08433;
    /* background: linear-gradient(180deg, #FF9B43 0%, #E08433 100%); */
    color: white;
    border-radius: 5px;
    padding: auto 28px;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
    margin-top: -15px;
    box-shadow: inset 0 0 0 0 #006A4E;
    transition: ease-out 0.3s;
}
#nav-btn:hover{
    box-shadow: inset 160px 0 0 0 #006A4E;
    color: white;
}

.services{
    width: var(--width);
    /* min-width: 1140px; */
    display: flex;
    margin: 150px auto 0 auto;
}

.services-content{
    width: 100%;
}

.services-head{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 45px;
    line-height: 72px;
    text-align: center;
}

.services-btn{
    margin: 15px 15px 15px 0;
    padding: 0 15px;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
    height: 45px;
    background: transparent;
    border: 0.57732px solid #000000;
    box-sizing: border-box;
    border-radius: 6.92783px;
    transition: all 0.4s ease-out;
    position: relative;
    z-index: 1;
    cursor: pointer;
}
.services-btn:hover{
    background: #006A4E;
    color: white;
}

.services-card{
    margin-top: 145px;
}
.featured-container{
    margin: 0 0 0 0;
    width: 100vw;
}
.featured{
    /* min-width: 1140px; */
    width: var(--width);
    width: 1140px;
    margin: 0 auto; 
    position: relative;
    /* top: -450px; */
    z-index: 1;
}


.featured-cards{
    /* min-width: 1140px; */
    width: var(--width);
    width: 1140px;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding-top: 80px;
}
.featured-cards-2{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:flex-start;
}
.fc{
    position: relative;
    border-radius: 18px;
    box-shadow: 0px 14.5397px 29.0794px #E5E5E5;
    border-radius: 14.4788px;
}
.fc1{
    /* min-width: 394.55px; */
    width: 27.399vw;
    /* min-height: 583px; */
    height: 40.4861vw;
    background: url(../assets/images/neopay-card.png);
    background-size: cover;
    /* box-shadow: 2px 2px 18px #C7C4DE; */
}

.fc2{
    /* min-width: 668.44px; */
    width: 46.41944vw;
    /* min-height: 583px; */
    height: 40.4861vw;
    background: url(../assets/images/wareiq.png);
    background-size: cover;
    
}

.fc3{
    /* min-width: 668.44px; */
    width: 46.41944vw;
    /* min-height: 573.12px; */
    height: 39.8vw;
    background: url(../assets/images/f2p.png);
    background-size: cover;
}

.fc4{
    /* min-width: 394.55px; */
    width: 27.399vw;
    /* min-height: 620.18px; */
    height: 43.068vw;
    background: url(../assets/images/pfe.png);
    background-size: cover;
    
    /* box-shadow: 2px 2px 18px #C7C4DE; */
}

.fc5{
    /* min-width: 668.44px; */
    width: 46.41944vw;
    /* min-height: 583px; */
    height: 40.4861vw;
    background: url(../work/images/lybrae-card.png);
    background-size: cover;
}

.fc6{
    /* min-width: 398px; */
    width: 27.6388vw;
    /* min-height: 530px; */
    height: 36.8055vw;
    background: url(./images/kmg-branding.png);
    background-size: cover;
    
    /* box-shadow: 2px 2px 18px #C7C4DE; */
}

.fc7{
    /* min-width: 406px; */
    width: 28.1944vw;
    /* min-height: 569px; */
    height: 39.5138vw;
    background: url(../assets/images/prometric.png);
    background-size: cover;
}

.fc8{
    /* min-width: 663px; */
    width: 46.0416vw;
    /* min-height: 569px; */
    height: 39.5138vw;
    background: url(./images/kmg-card.png);
    background-size: cover;
}

.fc9{
    /* min-width: 396px; */
    width: 27.5vw;
    /* min-height: 575px; */
    height: 39.93vw;
    background: url(./images/wareiq-branding.png);
    background-size: cover;
}
.fc10{
    /* min-width: 669px; */
    width: 46.458vw;
    /* min-height: 575px; */
    height: 39.93vw;
    background: url(./images/fulton-branding.png);
    background-size: cover;
}
.fc11{
    /* min-width: 669px; */
    width: 46.458vw;
    /* min-height: 575px; */
    height: 39.93vw;
    background: url(./images/dn.png);
    background-size: cover;
}
.fc12{
    /* min-width: 396px; */
    width: 27.5vw;
    /* min-height: 575px; */
    height: 39.93vw;
    background: url(./images/f2p-branding.png);
    background-size: cover;
}

.fc{
    border-radius: 15px;
}

.work-card-text{
    position: absolute;
    bottom: 0;
    height: 150px;
    width: inherit;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.9) 0%, rgba(249, 249, 249, 0.9) 100%);
    backdrop-filter: blur(33.2005px);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 0 0 15px 15px;
}
.work-card-head{
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    margin: 0 23px;
    padding: 23px 0 0 0;
}
.work-card-text > a{
    width: 75px;
}
.view-story{
    font-family: 'Poppins', sans-serif;
    width: 75px;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    color: #006A4E;
    margin: 20px 23px 23px 23px;
}

.services-btn-active{
    background: #006A4E;
    color: white;
}

.featured-container-mobile{
    display: none;
}

  
  @media screen and (max-width: 1000px) {
    body{
        overflow-x: hidden;
    }
    html{
        overflow-x: hidden;
    }
    .logo{
        width: 132.56px;
    }
    .header{
        align-items: unset;
        width: 88.88vw;
    }
    .header-container{
        width: 100vw;
    }
  }
  
  @media screen and (max-width: 1000px) {

    .active{
        border: none;
    }
    .content-wrapper{
        width: 100vw;
        height: fit-content;
    }
    .content-w, .hero-container{
        width: 90vw;
    }
    .services, .services-content{
        width: 90vw;
        margin: 50px 0 0 0;
    }

    .services-content .services-head{
        margin-left: 0;
        font-size: 16px !important;
    }

    .services-btn{
        width: fit-content;
        height: 36px;
        font-size: 12px;
        margin: 0 5px 10px 0;
        border-radius: 8px;
        background: rgba(214, 214, 214, 0.24);
        border: 1px solid #000000;
    }
    .services-btn-active{
        background: #006A4E;
    }

    .featured, .featured-cards{
        width: 90vw;
    }

    .featured-container{
        display: none;
        margin-bottom: 0;
    }
    
    .featured-container-mobile{
        display: block;
        width: 100vw;
    }
    .featured-cards-mobile{
        width: 88.88vw;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
    }
    .card-mobile{
        position: relative;
        width: 312px;
        height: 262px;
        margin-bottom: 30px;
        border-radius: 6px;
        box-shadow: 2px 2px 10px #E5E5E5;
    }
    .cm1{
        background: url('images/wareiq-mob.png');
        background-size: cover;
    }
    .cm2{
        background: url('images/fmcg-mob.png');
        background-size: cover;
    }
    .cm3{
        background: url('images/kmg-mob.png');
        background-size: cover;
    }
    .cm4{
        background: url('images/cofrsh-mob.png');
        background-size: cover;
    }
    .cm5{
        background: url('images/fulton-mob.png');
        background-size: cover;
    }
    .cm6{
        background: url('images/wareiq-branding-mob.png');
        background-size: cover;
    }
    .cm7{
        background: url('images/prometric-mob.png');
        background-size: cover;
    }
    .nda-tag{
        visibility: hidden;
        width: 100%;
        height: 20px;
        background: black;
        color: white;
        text-align: center;
        display: flex;
        justify-content: space-around;
        align-items: center;
        position: absolute;
        bottom: 50px;
        font-family: 'Poppins';
        font-size: 12px;
    }
    .card-mobile:hover .nda-tag{
        visibility: visible;
    }
    .featured-cards-2{
        height: 100vw;
    }
    .exp-btn{
        width: 90px;
        height: 30px;
        display: flex;
        font-family: 'Poppins', sans-serif;
        font-size: 10px;
        line-height: 21px;
        align-items: center;
        justify-content: center;;
        background-color: transparent;
        border: 1px solid white;
        color: white;
        box-shadow: inset 0 0 0 0 #E14B2C;
        border-radius: 5px;
        padding: auto 28px;
        cursor: pointer;
        transition: 0.3s ease-in;
        margin: 30px 0;
    }
    .exp-btn:hover{
        box-shadow: inset 117px 0 0 0 #E14B2C;
        border: 1px solid #E14B2C;
        color: white;
    }
  }